- var title = is_home()?`${config.title} - ${config.subtitle}`:`${page.title} - ${config.title}`
doctype html
html(lang="zh-Hans")
    head
        title= title
        meta(charset='UTF-8')
        meta(name="generator" content="为什么hexo要在我的head里插这个我不喜欢诶")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="愿能绽放光芒。")
        link(rel="stylesheet", href=url_for('styles/main.css'))
        link(rel="stylesheet",href=url_for('styles/responsive.css') media="screen and (max-width:770px)")
        link(rel='stylesheet', href="https://cdn.jsdelivr.net/npm/disqusjs@1.3/dist/disqusjs.css")
        link(rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico")
    body
        .container
            include header.pug
            block content
            include footer.pug
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-4L96W641N6')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-4L96W641N6');
        -if((is_post()||is_page())&&theme.disqusjs.enable)
            script(async id="disqusjs" src='https://cdn.jsdelivr.net/npm/disqusjs@1.3/dist/disqus.js')
            script.
                document.getElementById('disqusjs').addEventListener('load',(event)=>{
                new DisqusJS({
                    shortname: '#{theme.disqusjs.shortname}',
                    siteName: '#{theme.disqusjs.siteName}',
                    identifier: '#{page.path}',
                    url: '#{page.permalink}',
                    title: '#{page.title}',
                    api: '#{theme.disqusjs.api}',
                    apikey: '#{theme.disqusjs.apikey}',
                    admin: '#{theme.disqusjs.admin}',
                    adminLabel: '#{theme.disqusjs.adminLabel}'
                });
                })